<div class="card">
  <a href="#" class="card__link">
    {% if not img %}
    {{ 'assets/img/no-image.jpg' | picture( "Изображение на товар отсуствует", 'card__img no-img') | safe }}
    {% else %}
    <div class="card__img-box">
      {{ img | picture(alt, 'card__img') | safe }}
    </div>
    {% endif %}

    <div class="card__content">
      {% if oldPrice %}
      <div class="card__price-box">
        <p class="card__price card__price--new">
          {{price}}
        </p>
        <p class="card__old-price">
          {{oldPrice}}
        </p>
      </div>
      {% else %}

      <div class="card__price-box">
        <p class="card__price">
          {{price}}
        </p>
      </div>
      {% endif %}
      <p class="card__title">
        {{title}}
      </p>
      <p class="card__weight">
        {{weight}}
      </p>
    </div>
  </a>
  <div class="card__button-box">
    <button data-count id='product-{{id}}' class="card__button">
      В корзину
    </button>
    <div class="card__button-count is-hidden">
      <button type="submit" class="card__button-cart card__button-count--minus">
        -
      </button>
      <p class="card__button-count-text">
        1
      </p>
      <button type="submit" class="card__button-cart card__button-count--plus">
        +
      </button>
    </div>
  </div>
</div>