<header class="header">

  <div class="header__top">
    <div class="container">
      <div class="header__top-box">

        <div class="header__city-wrapper">
          <button id="open-popup" class="header__link header__link--city">
            Москва
          </button>

          {% include "includes/popup.html" %}
        </div>

        <a class="header__link header__link--tel" href="tel:+79536236283">
          +7 (953) 623-62-83
        </a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-box">
        <div class="header__box">
          <a href="" class="header__logo">
            <img width="148" height="48" src="/assets/img/logo.png" alt="Logo">
          </a>
          <button aria-label=" Кнопка открыть меню" class="header__burger burger">
            <div class="burger__box">
              <span class="burger__line"></span>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
            </div>
            <p class="burger__text">
              Каталог
            </p>
          </button>

          <div class="header__search-form">
            <button class="header__search-close--mobile">
              <svg class="header__search-back">
                <use xlink:href="#icon-back"></use>
              </svg>

            </button>
            <form class="header__search-box">
              <input type="text" class="header__input" placeholder="Найти в каталоге" />
              <div class="header__search-btns">
                <button type="reset" class="header__reset-button">
                  <svg class="header__reset-icon">
                    <use xlink:href="#reset-btn"></use>
                  </svg>
                </button>
                <button type="submit" class="header__submit-button">
                  <svg class="header__submit-icon">
                    <use xlink:href="#submit-btn"></use>
                  </svg>
                  <svg class="header__submit-icon--mobile">
                    <use xlink:href="#search-icon"></use>
                  </svg>
                </button>

              </div>
              <button class="header__search-button"></button>
            </form>

            <div class="header__search-results">
              <ul class="header__result-list">
                {% for item in productsCards %}
                {% if loop.index0 < 4 %} <li>
                  <a href="" class="header__result-info">
                    {% if not item.img %}
                    {{ 'assets/img/no-image.jpg' | picture("Изображение на товар отсутствует", 'cart__item-image
                    no-img') | safe }}
                    {% else %}
                    <div class="card__img-box">
                      {{ item.img | picture(alt, 'cart__item-image') | safe }}
                    </div>
                    {% endif %}
                    <div class="header__result-details">
                      <p class="header__result-price">
                        {{ item.price }}
                      </p>
                      <div class="header__result-name">{{ item.title }}</div>
                    </div>
                  </a>
                  </li>
                  {% endif %}
                  {% endfor %}
              </ul>

              <button class="header__result-button">
                Все результаты
              </button>

              <!-- ЕСЛИ НЕТ РЕЗУЛЬТАТОВ -->

              <!-- <p class="header__result-text">
                Нет подходящих результатов по вашему запросу
              </p> -->
            </div>
          </div>


          <div class="header__cart-box ">
            <button aria-label=" Кнопка открыть корзину" class="header__cart">
              <img class="svg" src="/assets/img/cart.svg" alt="Cart">
              <p class="header__cart-text">Корзина</p>
            </button>
          </div>
        </div>

        <div class="header__bottom-list">
          <ul class="header__bottom-list-link">
            <li class="header__bottom-item-link">
              <a class="header__link header__link--schedule" href="http://">
                Расписание ярмарок
              </a>
            </li>
            <li class="header__bottom-item-link">
              <a class="header__link header__link--map" href="http://">
                Карта ярмарок
              </a>
            </li>
            <li class="header__bottom-item-link">
              <a class="header__link header__link--sale" href="http://">
                Получить скидку
              </a>
            </li>
          </ul>
          <ul class="header__bottom-list-link">
            <li class="header__bottom-item-link">
              <a class="header__link header__link--jobs" href="http://">
                Работа у нас
              </a>
            </li>
            <li class="header__bottom-item-link">
              <a class="header__link header__link--contacts" href="http://">
                Контакты
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>


  <div class="header__nav-container">
    <div class="header__overlay">
    </div>
    <div class="header__nav-box">
      <div class="container">
        <nav class="header__nav">
          <ul class="header__list">
            {% for category in categoryNav %}
            <li>
              <a href="/" class="header__nav-title">
                {{ category.categoryTitle }}
                </p>
                <ul class="header__nav-list">
                  {% for subcategory in category.subcategory %}
                  <li>
                    <a class="header__nav-link" href="/">
                      {{ subcategory }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="header__nav-mobile">
          <div class="header__list mobile">
            <nav class="category-nav">
              <ul class="category-nav__list">
                {% for category in categoryNav %}
                <li class="category-nav__item">
                  <button class="category-nav__btn">
                    <p class="category-nav__title">
                      {{ category.categoryTitle }}
                    </p>
                    <img class="svg category-nav__arrow-btn" src="assets/img/all-btn.svg" alt="">
                  </button>
                  <ul class="category-nav__subcategory-list">
                    {% for subcategory in category.subcategory %}
                    <!-- 
                    <li class="category-nav__subcategory-item">
                      <a href="#" class="category-nav__subcategory-link">
                        {{ subcategory }}
                      </a>
                    </li> -->
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </nav>
            <hr class="cart__divider">
            <div class="header__bottom-list">
              <ul class="header__bottom-list-link">
                <li class="header__bottom-item-link">
                  <a class="header__link header__link--schedule" href="http://">
                    Расписание ярмарок
                  </a>
                </li>
                <li class="header__bottom-item-link">
                  <a class="header__link header__link--map" href="http://">
                    Карта ярмарок
                  </a>
                </li>
                <li class="header__bottom-item-link">
                  <a class="header__link header__link--sale" href="http://">
                    Получить скидку
                  </a>
                </li>
              </ul>
              <ul class="header__bottom-list-link">
                <li class="header__bottom-item-link">
                  <a class="header__link header__link--jobs" href="http://">
                    Работа у нас
                  </a>
                </li>
                <li class="header__bottom-item-link">
                  <a class="header__link header__link--contacts" href="http://">
                    Контакты
                  </a>
                </li>
              </ul>

            </div>
            <hr class="cart__divider">


            <div class="delivery__form-group">
              <div class="delivery__city-selector">
                <div class="delivery__city-info">
                  <svg class="delivery__city-icon">
                    <use xlink:href="#icon-map-pin"></use>
                  </svg>
                  <span class="delivery__city-name">Москва</span>
                </div>
                <a href="#" class="delivery__change-link delivery__change-link--active" data-toggle="city-modal">
                  Изменить
                </a>
              </div>
              <a class="header__link header__link--tel" href="tel:+79536236283">
                +7 (953) 623-62-83
              </a>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <!-- Модальное окно для подкатегории -->
  <div class="category-modal-header">
    <div class="modal-header">
      <button class="category-header__btn">

        <svg class="delivery__back-icon">
          <use xlink:href="#icon-back"></use>
        </svg>
        <!-- <img class="svg category-nav__arrow-btn" src="assets/img/all-btn.svg" alt=""> -->
        <p class="sidebar-title">Категория</p>
      </button>

      <span class="modal-close">&times;</span>
    </div>
    <div class="modal-body">
      <nav class="category-nav">
        <ul class="category-nav__list">
          {% for category in categoryNav %}

          <li class="category-nav__item">
            <button class="category-nav__btn">
              <p class="category-nav__title">
                {{ category.categoryTitle }}
              </p>

            </button>
            <ul class="category-nav__subcategory-list">
              {% for subcategory in category.subcategory %}
              <li class="category-nav__subcategory-item">
                <a href="#" class="category-nav__subcategory-link">
                  {{ subcategory }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

  </div>

</header>