<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <!--    <script src="bootstrap/dist/js/bootstrap"></script>-->

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">

  <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

  <script defer src="assets/libs/jquery.js"></script>
  <script defer src="assets/libs/jquery-ui.js"></script>
  <script defer src="assets/libs/jquery-ui-touch.js"></script>
  <script defer src="assets/libs/select2.min.js"></script>
  <script defer src="assets/libs/fancybox.umd.js"></script>
  <script defer src="assets/libs/just-validate.production.min.js"></script>
  <script defer src="assets/libs/aos.js"></script>
  <script defer src="assets/libs/swiper.js"></script>
  <script defer src="assets/libs/slick.min.js"></script>
  <script defer src="assets/libs/playerjs.js" type="text/javascript"></script>
  <script defer src="assets/js/app.js"></script>



</head>

<body {% if bodyClass %}class="{{ bodyClass }}" {% endif %} id="body">



  {% block content %}{% endblock %}
{# 
  {% include "modal.html" %} #}

  {% include "html/includes/footer.html" %}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
    integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous">
    </script>






</body>

</html>