<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">

  {% for lib in jsLibs %}
  {% if lib.css %}
  <link rel="stylesheet" href="assets/css/libs/{{ lib.css }}">
  {% endif %}
  {% endfor %}

  <link rel="stylesheet" type="text/css" href="assets/css/main.css">

  {% for lib in jsLibs %}
  <script defer src="assets/js/libs/{{ lib.link }}"></script>
  {% endfor %}
  <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script defer src="assets/js/app.js"></script>

</head>

<body {% if bodyClass %}class="{{ bodyClass }}" {% endif %} id="body">
  {% include "includes/header.html" %}
  <div id="svg-sprite-container" style="display: none;"></div>
  {% block content %}{% endblock %}


  <!-- {# {% include "modal.html" %} #} -->
  {% include "includes/footer.html" %}
  {% include "includes/city-modal.html" %}
  {% include "includes/popup-mobile.html" %}
</body>

</html>