{% set title = "О компании" %}

{% extends "layouts/default.html" %}

{% block content %}

<main>
  <section class="about-page section">
    <div class="container">
      {% include "includes/breadcrumbs.html" %}
      <div class="about-page__content">
        <h1 class="title">О компании</h1>

        <div class="about-page__box">
          <p>
            <span>
              Если у вас есть вопросы или вам нужна консультация, пожалуйста, свяжитесь с нами удобным для вас способом.
            </span>
            <span>
              Мы
              всегда готовы ответить на ваши вопросы и предоставить необходимую информацию.
            </span>
          </p>
          <p>
            <span>
              Мы обязательно свяжемся с вами в ближайшее время и поможем решить вашу задачу!
              Если у вас есть вопросы или вам нужна консультация, пожалуйста, свяжитесь с нами удобным для вас способом.
            </span>
            <span>
              Мы
              всегда готовы ответить на ваши вопросы и предоставить необходимую информацию.
            </span>
          </p>
          <p>
            Мы обязательно свяжемся с вами в ближайшее время и поможем решить вашу задачу!
          </p>
        </div>


      </div>
  </section>
</main>

{% endblock %}