@use "_vars" as *
.banner
  position: relative
  margin-top: 32px
  height: 656px
  min-height: 656px
  @media all and ($xl)
    height: 460px
  @media all and ($l)
    height: 434px
  @media all and ($m)
    height: 490px
  @media all and ($m)
    margin-top: 24px
  .container
    height: 100%
    position: relative
  &__bg-effects
    position: absolute
    object-fit: cover
    top: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 2
    width: calc( 100% - 108px * 2 )
    padding: 0
    height: 100%
    background-color: rgba(0, 0, 0, 0.6)
    border-radius: 24px
    @media all and ($xl)
      width: calc( 100% - 100px * 2 )
    @media all and ($l)
      width: calc( 100% - 36px * 2 )
    @media all and ($m)
      width: calc( 100% - 20px * 2 )
    @media all and ($xs)
      width: calc( 100% - 16px * 2 )
  &__bg
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 0
    z-index: 1
    width: calc( 100% - 108px * 2 )
    height: 100%
    object-fit: cover
    border-radius: 24px
    @media all and ($xl)
      width: calc( 100% - 100px * 2 )
    @media all and ($l)
      width: calc( 100% - 36px * 2 )
    @media all and ($m)
      width: calc( 100% - 20px * 2 )
    @media all and ($xs)
      width: calc( 100% - 16px * 2 )
  &__box
    align-content: center
    position: relative
    z-index: 2
    max-width: 899px
    display: grid
    gap: 32px
    padding-left: 104px
    height: 100%
    align-items: center
    @media all and ($xl)
      padding-left: 72px
    @media all and ($m)
      padding-left: 20px
    @media all and ($xs)
      padding-left: 16px
  &__title
    color: #fff
    font-size: 40px
    font-weight: 500
  &__subtitle
    color: #fff
    font-size: 20px
    font-weight: 400
    line-height: 130%
  &__text
    color: $gray-lighten-3
    font-size: 20px
    font-weight: 400
    line-height: 130%
  .header .container
    padding-left: 0
    padding-right: 0

@media all and ($m)
  .banner
    &__box
      max-width: 530px
      gap: 40px
    &__title
      font-size: 32px
    &__subtitle
      font-size: 14px
    &__text
      font-size: 14px
