@use "_vars" as *
.footer
	background: $gray-lighten-1
	&__wrapper
		padding: 40px 0 32px 0
		display: grid
		gap: 64px
		@media all and ($m)
			gap: 40px
	&__bottom
		display: grid
		gap: 16px 56px
		justify-content: space-between
		align-items: center
		grid-auto-flow: column
		@media all and ($l)
			display: flex
			flex-wrap: wrap-reverse
		@media all and ($m)
			display: grid
			grid-auto-flow: row
			gap: 24px
	&__confidential-box
		display: grid
		grid-auto-flow: column
		gap: 56px
		@media all and ($m)
			display: grid
			grid-auto-flow: row
			gap: 24px
	&__box
		display: grid
		grid-template-columns: repeat(24,1fr)
		gap: 72px 24px
		grid-template-areas: 'logo links cont1 cont2 soc'
		align-items: start
		.links
			grid-area: links
			grid-column: 9/12
		.logo
			grid-area: logo
			grid-column: 1/4
		.cont1
			grid-area: cont1
			grid-column: 13/16
		.cont2
			grid-area: cont2
			grid-column: 17/20
		.soc
			grid-area: soc
			grid-column: 21/25
		.copy
			grid-area: copy
			grid-column: 1/6
	&__contacts-box
		display: grid
		gap: 16px
		justify-items: start
	&__social-box
		display: grid
		grid-auto-flow: column
		gap: 12px
	&__title
		color: $gray-darken-3
		font-size: 16px
		font-weight: 500
		line-height: 130%
	&__link
		color: $gray-darken-1
		font-size: 16px
		font-weight: 400
		line-height: 130%
		transition: color $anim
		cursor: pointer
		&:active, &:hover, &:focus
			color: $green
	&__copy
		color: $gray-darken-1
		font-size: 16px
		font-weight: 400
		line-height: 130%
		transition: color $anim
		white-space: nowrap
		@media all and ($s)
			white-space: normal
	&__social-link
		& svg path
			transition: fill $anim
		&:active svg path , &:hover svg path , &:focus svg path
			fill: $green
	@media all and ($l)
		&__box
			gap: 48px 32px
			grid-template-areas: 'logo logo . .' 'links cont1 cont2 soc'
			grid-template-columns: repeat(12, 1fr)
			grid-template-rows: auto auto
			.logo
				grid-column: 1/4
			.links
				grid-column: 1/4
			.cont1
				grid-column: 4/7
			.cont2
				grid-column: 7/10
			.soc
				grid-column: 10/13
	@media all and ($m)
		&__box
			grid-template-areas: 'logo' 'links' 'cont1' 'cont2' 'soc'
			grid-template-columns: 1fr
			gap: 40px
			.logo
				grid-column: 1/2
			.links
				grid-column: 1/2
			.cont1
				grid-column: 1/2
			.cont2
				grid-column: 1/2
			.soc
				grid-column: 1/2
