@use "_vars" as *

.header__nav-box-mobile
  display: none

.burger
  display: grid
  position: relative
  padding: 14px 16px
  background-color: $green
  border-radius: 4px
  border: none
  cursor: pointer
  justify-self: start
  align-items: center
  grid-auto-flow: column
  gap: 8px
  &__text
    font-weight: 500
    font-size: 14px
    line-height: 130%
    color: #fff
  &__box
    display: grid
    position: relative
    padding-left: 28px
  &__line
    position: absolute
    left: 50%
    transform: translateX(-50%)
    width: 30px
    height: 3px
    background-color: #fff
  &__line:first-child
    top: 7px
  &__line:last-child
    bottom: 7px
  &__line:nth-child(2)
    top: 50%
    transform: translate(-50%, -50%)


.burger--active
  z-index: 1001
  padding-left: 50px
  .burger__line
    background: $gray-lighten-4
    transition: transform $anim, top $anim, left $anim, color $anim
  .burger__line:first-child
    left: 25%
    top: 50%
    transform: rotate(45deg)
    transform-origin: center
  .burger__line:last-child
    left: 25%
    top: 50%
    transform: rotate(-45deg)
    transform-origin: center
  .burger__line:nth-child(2)
    opacity: 0
.stop-scroll
  overflow: hidden
.header__list
  display: none
